* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(77, 77, 80);
    padding-left: 150px;
    padding-right: 150px;
}

main {
    width: auto;
    background-color: #fff;
    max-height: 100%;
    padding: 50px;
    border-top: black 3px solid;
    border-radius: 10px;
}

.head {
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: #fff;
    justify-content: space-between;
    height: auto;
    position: fixed;
}

.lefttext {
    width: 400px;
    /* background-color: rgb(143, 136, 136); */
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
}

h1 {
    font-family: Arial;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

#duration {
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

#duration1 {
    font-family: Arial;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

.lefttext label {
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
    padding: 10px;
}

.lefttext div {
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
}

.profile {
    width: 400px;
    /* background-color: rgb(44, 43, 43); */
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/* body cv */

.bodyt {
    max-height: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    /* background-color: rgb(44, 69, 116); */
    justify-content: space-between;
    margin-top: 120px;
}

.bodytext {
    width: 500px;
    scrollbar-width: thin;
}

.bodyadrees {
    width: 300px;
    color: #73808D;
    font-family: Arial;
}

h5 {
    height: 1px;
    text-transform: uppercase;
}

label {
    display: block;
}


/* media sceeen */

@media screen and (min-width:1800px) {
    main {
        padding-left: 20%;
        padding-right: 30%;
    }
}

@media screen and (max-width: 1112px) {
    .head {
        margin-top: -25px;
        width: 20px;
    }
    .bodyt {
        margin-top: 200px;
    }
}

@media screen and (max-width:1020px) {
    .head {
        width: 20px;
    }
    .bodyt {
        margin-top: 200px;
    }
}

@media screen and (max-width: 768px) {
    html,
    body {
        padding-left: 50px;
        padding-right: 50px;
        overflow-y: scroll;
    }
    .bodyt {
        margin-top: 250px;
    }
    .head {
        width: 20px;
    }
}

@media screen and (max-width: 473px) {
    html,
    body {
        padding-left: 10px;
        padding-right: 10px;
        overflow-y: scroll;
    }
}