* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(48, 48, 49);
    padding-left: 150px;
    padding-right: 150px;
}

main {
    width: 100%;
    background-color: #fff;
    height: auto;
    padding: 50px;
    border-top: black 3px solid;
    border-radius: 10px;
}

.head {
    height: 120px;
    display: flex;
    flex-wrap: wrap-reverse;
    /* background-color: rgb(85, 121, 85); */
    justify-content: space-between;
    height: auto;
}

.lefttext {
    width: 400px;
    /* background-color: rgb(143, 136, 136); */
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
}

h1 {
    font-family: Arial;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

#duration {
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

#duration1 {
    font-family: Arial;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

.lefttext label {
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
    padding: 10px;
}

.lefttext div {
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
}

.profile {
    width: 400px;
    /* background-color: rgb(44, 43, 43); */
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}


/* body cv */

.body {
    height: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    /* background-color: rgb(44, 69, 116); */
    justify-content: space-between;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.bodytext {
    width: 500px;
    scrollbar-width: thin;
    height: 465px;
}

.bodyadrees {
    width: 300px;
    color: #73808D;
    font-family: Arial;
    height: 465px;
}

h5 {
    height: 1px;
    text-transform: uppercase;
}

label {
    display: block;
}


/* media sceeen */

@media screen and (max-width: 1112px) {
    html,
    body {
        padding-left: 130px;
        padding-right: 130px;
        overflow-y: scroll;
    }
    .bodytext {
        width: 500px;
        scrollbar-width: thin;
        height: auto;
    }
    .bodyadrees {
        width: 300px;
        color: #73808D;
        font-family: Arial;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    html,
    body {
        padding-left: 50px;
        padding-right: 50px;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 473px) {
    html,
    body {
        padding-left: 10px;
        padding-right: 10px;
        overflow-y: scroll;
    }
}

471