* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.paper {
    width: 60%;
    height: auto;
    background-color: rgb(121, 34, 34);
    padding: 30px;
    position: relative;
}

.header {
    width: inherit;
    height: 130px;
    background-color: red;
    position: fixed;
    top: 0;
    left: 20%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#name {
    width: 60%;
    height: 100%;
    background-color: blue;
}

#avatar {
    width: 40%;
    height: 100%;
    background-color: green;
    text-align: center;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.body {
    margin-top: 100px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#left {
    width: 58%;
    height: 100%;
    background-color: rgb(108, 121, 116);
}

#right {
    width: 38%;
    height: 100%;
    background-color: rgb(8, 5, 155);
}


/* ather one  */

.head {
    display: flex;
    flex-wrap: wrap-reverse;
    /* background-color: rgb(85, 121, 85); */
    justify-content: space-between;
    height: auto;
    position: fixed;
}

.lefttext {
    width: 400px;
    /* background-color: rgb(143, 136, 136); */
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
}

h1 {
    font-family: Arial;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

#duration {
    font-family: Arial;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

#duration1 {
    font-family: Arial;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

.lefttext label {
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
    padding: 10px;
}

.lefttext div {
    font-family: Arial;
    font-size: 24px;
    line-height: 28px;
}

.profile {
    width: 400px;
    /* background-color: rgb(44, 43, 43); */
    text-align: center;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
}


/* body cv */

h5 {
    height: 1px;
    text-transform: uppercase;
}

h1 {
    font-family: Arial;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #73808D;
}

label {
    display: block;
}


/* responsivness */

@media screen and (max-width: 720px) {
    .paper {
        width: 90%;
    }
    .header {
        width: 90%;
        left: 5%;
    }
}

@media screen and (max-width: 650px) {
    .paper {
        width: 98%;
    }
    .header {
        width: 98%;
        left: 1%;
        height: 80px;
    }
    #name {
        width: 100%;
    }
    #avatar {
        width: 100%;
    }
    .body {
        margin-top: 140px;
    }
}

@media screen and (max-width: 500px) {
    #left {
        width: 100%;
    }
    #right {
        width: 100%;
    }
    main {
        min-height: 100vh;
        background-color: darkmagenta;
    }
}